<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Html.PartialAsync("_Favicons")
    <title>Araç Kiralama</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="AdminPaneli" asp-controller="Home" asp-action="Index">
                    <img class="d-inline-block align-top" src="~/admin.png" width="30" height="30" alt="Admin"> Admin
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-center">
                    <ul class="navbar-nav flex-grow-1 nav-fill">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="AdminPaneli" asp-controller="Company" asp-action="Index">
                                Firmalar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="AdminPaneli" asp-controller="Brand" asp-action="Index">
                                Markalar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="AdminPaneli" asp-controller="Vehicle" asp-action="Index">Araçlar</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Grafikler
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="AdminPaneli" asp-controller="Chart" asp-action="Index">Marka-Araç Column Chart</a>
                                <a class="dropdown-item" asp-area="AdminPaneli" asp-controller="Chart" asp-action="Index1">Marka-Araç Pie Chart</a>
                                <a class="dropdown-item" asp-area="AdminPaneli" asp-controller="Chart" asp-action="Index3">Firma-Araç Column Chart</a>
                                <a class="dropdown-item" asp-area="AdminPaneli" asp-controller="Chart" asp-action="Index4">Firma-Araç Pie Chart</a>
                                <a class="dropdown-item" asp-area="AdminPaneli" asp-controller="Chart" asp-action="Index2">Araç-Ücret Chart</a>
                            </div>
                        </li>
                    </ul>
                    <div class="btn-group m-auto" role="group" aria-label="Basic example">
                        <a class="btn btn-sm btn-success" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/return.png" /> Websiteye Dön</a>
                        <a class="btn btn-sm btn-danger" asp-area="AdminPaneli" asp-controller="Login" asp-action="Logout"><img src="~/quit.png" /> Panel Çıkış</a>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - CoreAracKiralama - Asp.net Core5 - CodeFirst - TagHelpers - Hazırlayan: UFUK GÜLEÇ
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
